<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.sunwukong.www.marketing.server.dao.ChoiceApplyMapper">
  <resultMap id="BaseResultMap" type="net.sunwukong.www.marketing.bean.ChoiceApply">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="apply_no" jdbcType="VARCHAR" property="applyNo" />
    <result column="merchant_contract" jdbcType="VARCHAR" property="merchantContract" />
    <result column="merchant_phone" jdbcType="VARCHAR" property="merchantPhone" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_no, apply_no, merchant_contract, merchant_phone, apply_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from choice_apply
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from choice_apply
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.sunwukong.www.marketing.bean.ChoiceApply">
    insert into choice_apply (id, user_no, apply_no, merchant_contract, merchant_phone, apply_date,apply_state)
    values (#{id,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR}, #{applyNo,jdbcType=VARCHAR}, #{merchantContract,jdbcType=VARCHAR}, #{merchantPhone,jdbcType=VARCHAR}, #{applyDate,jdbcType=TIMESTAMP},'10410001')
  </insert>
  <insert id="insertSelective" parameterType="net.sunwukong.www.marketing.bean.ChoiceApply">
    insert into choice_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userNo != null">
        user_no,
      </if>
      <if test="applyNo != null">
        apply_no,
      </if>
      <if test="merchantContract != null">
        merchant_contract,
      </if>
      <if test="merchantPhone != null">
        merchant_phone,
      </if>
      <if test="applyDate != null">
        apply_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null">
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="applyNo != null">
        #{applyNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantContract != null">
        #{merchantContract,jdbcType=VARCHAR},
      </if>
      <if test="merchantPhone != null">
        #{merchantPhone,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.sunwukong.www.marketing.bean.ChoiceApply">
    update choice_apply
    <set>
      <if test="userNo != null">
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="applyNo != null">
        apply_no = #{applyNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantContract != null">
        merchant_contract = #{merchantContract,jdbcType=VARCHAR},
      </if>
      <if test="merchantPhone != null">
        merchant_phone = #{merchantPhone,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null">
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.sunwukong.www.marketing.bean.ChoiceApply">
    update choice_apply
    set user_no = #{userNo,jdbcType=VARCHAR},
      apply_no = #{applyNo,jdbcType=VARCHAR},
      merchant_contract = #{merchantContract,jdbcType=VARCHAR},
      merchant_phone = #{merchantPhone,jdbcType=VARCHAR},
      apply_date = #{applyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>


</mapper>