<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.sunwukong.www.marketing.server.dao.InformationEvaluatePariseMapper" >
  <resultMap id="BaseResultMap" type="net.sunwukong.www.marketing.bean.InformationEvaluateParise" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="information_no" property="informationNo" jdbcType="VARCHAR" />
    <result column="evaluate_no" property="evaluateNo" jdbcType="VARCHAR" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="parise_date" property="pariseDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, information_no, evaluate_no, user_no, parise_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from information_evaluate_parise
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from information_evaluate_parise
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.sunwukong.www.marketing.bean.InformationEvaluateParise" >
    insert into information_evaluate_parise (id, information_no, evaluate_no, 
      user_no, parise_date)
    values (#{id,jdbcType=VARCHAR}, #{informationNo,jdbcType=VARCHAR}, #{evaluateNo,jdbcType=VARCHAR}, 
      #{userNo,jdbcType=VARCHAR}, #{pariseDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.sunwukong.www.marketing.bean.InformationEvaluateParise" >
    insert into information_evaluate_parise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="informationNo != null" >
        information_no,
      </if>
      <if test="evaluateNo != null" >
        evaluate_no,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="pariseDate != null" >
        parise_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="informationNo != null" >
        #{informationNo,jdbcType=VARCHAR},
      </if>
      <if test="evaluateNo != null" >
        #{evaluateNo,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="pariseDate != null" >
        #{pariseDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.sunwukong.www.marketing.bean.InformationEvaluateParise" >
    update information_evaluate_parise
    <set >
      <if test="informationNo != null" >
        information_no = #{informationNo,jdbcType=VARCHAR},
      </if>
      <if test="evaluateNo != null" >
        evaluate_no = #{evaluateNo,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="pariseDate != null" >
        parise_date = #{pariseDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.sunwukong.www.marketing.bean.InformationEvaluateParise" >
    update information_evaluate_parise
    set information_no = #{informationNo,jdbcType=VARCHAR},
      evaluate_no = #{evaluateNo,jdbcType=VARCHAR},
      user_no = #{userNo,jdbcType=VARCHAR},
      parise_date = #{pariseDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <!--判断查看用户是否点赞该评论-->
  <select id="findByUserNoAndEvaluateNoAndInformationNo" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM information_evaluate_parise
    WHERE
    user_no = #{userNo,jdbcType=VARCHAR}
    AND evaluate_no = #{evaluateNo,jdbcType=VARCHAR}
    AND information_no = #{informationNo,jdbcType=VARCHAR}
  </select>
</mapper>