<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.sunwukong.www.marketing.server.dao.UserAccountMapper">
  <resultMap id="BaseResultMap" type="net.sunwukong.www.marketing.bean.UserAccount">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="account_amount" jdbcType="DECIMAL" property="accountAmount" />
    <result column="forzen_account_amount" jdbcType="DECIMAL" property="forzenAccountAmount" />
    <result column="cash_account_amount" jdbcType="DECIMAL" property="cashAccountAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_no, account_amount, forzen_account_amount, cash_account_amount
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_center.user_account
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_center.user_account
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.sunwukong.www.marketing.bean.UserAccount">
    insert into user_center.user_account (id, user_no, account_amount,
      forzen_account_amount, cash_account_amount)
    values (#{id,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR}, #{accountAmount,jdbcType=DECIMAL}, 
      #{forzenAccountAmount,jdbcType=DECIMAL}, #{cashAccountAmount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="net.sunwukong.www.marketing.bean.UserAccount">
    insert into user_center.user_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userNo != null">
        user_no,
      </if>
      <if test="accountAmount != null">
        account_amount,
      </if>
      <if test="forzenAccountAmount != null">
        forzen_account_amount,
      </if>
      <if test="cashAccountAmount != null">
        cash_account_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null">
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="accountAmount != null">
        #{accountAmount,jdbcType=DECIMAL},
      </if>
      <if test="forzenAccountAmount != null">
        #{forzenAccountAmount,jdbcType=DECIMAL},
      </if>
      <if test="cashAccountAmount != null">
        #{cashAccountAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.sunwukong.www.marketing.bean.UserAccount">
    update user_center.user_account
    <set>
      <if test="userNo != null">
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="accountAmount != null">
        account_amount = #{accountAmount,jdbcType=DECIMAL},
      </if>
      <if test="forzenAccountAmount != null">
        forzen_account_amount = #{forzenAccountAmount,jdbcType=DECIMAL},
      </if>
      <if test="cashAccountAmount != null">
        cash_account_amount = #{cashAccountAmount,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.sunwukong.www.marketing.bean.UserAccount">
    update user_center.user_account
    set user_no = #{userNo,jdbcType=VARCHAR},
      account_amount = #{accountAmount,jdbcType=DECIMAL},
      forzen_account_amount = #{forzenAccountAmount,jdbcType=DECIMAL},
      cash_account_amount = #{cashAccountAmount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findByUserNoAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_center.user_account
    where user_no = #{userNo,jdbcType=VARCHAR}
  </select>
</mapper>