<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.sunwukong.www.user.server.dao.marketing.read.PlatformAccountMapperRead" >
  <resultMap id="BaseResultMap" type="net.sunwukong.www.marketing.bean.PlatformAccount" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="account_amount" property="accountAmount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account_amount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from platform_account
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from platform_account
  </select>
</mapper>